@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather-Italic';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.account-input input{
  font-size: 20px;
}

.password-input input{
  font-size: 20px;
}

.separator-content {
  position: relative;
}

.hr::before {
  content: 'or';
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 1px;
  border-width: 0 100vw;  
  transform: translateX(-50%);
  background-color: white;
  font-weight: 700;
}

.social-signin-button button{
  border-radius: 50px;
} 

.google button::before{
  content: 'Continue with Google';
  font-size: 20px;
}

.facebook button::before {
  content: 'Continue with Facebook';
  font-size: 20px;
}

.bi {
  font-size: 20px;
}

.bi-fill{
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.bi-eye-fill:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
  font-size: 17px;
}